sources/FPGA-design/script_support/components/MSS/
sources/FPGA-design/script_support/components/MSS_I2C_LOOPBACK/
sources/FPGA-design/script_support/components/MSS_SPI_LOOPBACK/
sources/FPGA-design/script_support/additional_configurations/I2C_LOOPBACK/ICICLE_MSS_I2C_LOOPBACK.cfg
sources/FPGA-design/script_support/additional_configurations/SPI_LOOPBACK/ICICLE_MSS_SPI_LOOPBACK.cfg
*.hex
*.job
*.digest
